HOST=https://wcfapi.sso.go.th
CLIENT_ID=load-test
CLIENT_SECRET=changeme
REG_USER=loadtest.g4
REG_PASS=changeme
CONG2_USER=werakitt.ka
CONG2_PASS=changeme
G3_USER=load.te
G3_PASS=changeme
FIN_USER=mana.ma
FIN_PASS=changeme
CMP_USER=load.tea
CMP_PASS=changeme
VUS=1
ITERATIONS=2
CONG2_BALANCE_ACCOUNT_NO=8400118685
CONG2_BALANCE_ACCOUNT_BRANCH=
CONG2_DEPOSIT_ACCOUNT_NO=6600007605
CONG2_PERIOD_ACCOUNT_NO=3600000012
CONG2_AUDIT_ACCOUNT_NO=4090003741
CONG2_RETRO_ACCOUNT_NO=8400118677
NO_PROXY=*
no_proxy=*
